.header {
  width: 100%;
  height: fit-content;
  background: #fff;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  color: #43b02a;
}
