@import "./variables.scss";

// sizes
$xs: "2px 4px";
$sm: "4px 6px";
$md: "6px 16px";
$lg: "15px 35px";
@mixin variant($color) {
  color: $white;
  background-color: $color;
  &:hover {
    background-color: darken($color, 10%);
  }
}

@mixin size($indention) {
  padding: $indention;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px 13px;
  position: relative;
  outline: transparent solid 2px;
  cursor: pointer;
  width: max-content;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  font-size: 14px;
  margin: 0 5px;
  border-radius: 3px;
  border: 2px solid transparent;

  transition: 0.2s all ease-in-out;

  &:disabled {
    border-color: transparent;
    background-color: darken($light-grey, 10%);
    color: darken($light-grey, 30%);
    &:hover {
      border-color: transparent;
      cursor: default;
    }
  }
}

.btnDefault {
  @include variant($light-grey);
}
.btnPrimary {
  @include variant($primary);
}

.xs {
  @include size($xs);
}
.sm {
  @include size($sm);
}
.md {
  @include size($md);
}
.lg {
  @include size($lg);
}
