@import "./variables.scss";

.menu {
  list-style: none;
  color: $primary;
  padding: 0;
  margin: 20px;
}

.menuItem {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;

  &:hover {
    text-decoration: underline;
  }
}

.active {
  text-decoration: underline;
}
